html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90%;
  font: caption;
  background-color: #F4F7F8;
}

p {
  margin: 1em 2em;
}

#content {
  height: 90%;
  margin: 2em 2em 0 2em;
  border: .5em solid #DDE4E9;
  transition: background-color .2s ease-out;
}

#content[contenteditable=true] {
  background-color: white;
  transition: background-color .2s ease-in;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}


#frame{ font-size:14px; padding:1em; }
#frame #heading{}
#frame #heading, #frame #content{}

#frame #heading label { display:inline-table; }
#frame #heading label input{ background:transparent; border:1px solid silver; display:inline-table; }
#frame #heading #btnTray { display:relative; font-size:0.8em; right:5px; margin:0.5em 0; width:100%; text-align:right; }
#frame #heading #btnTray button { border:1px solid silver; border-radius:0.25em; font-size:1em; float:right; margin:0 0.5em 0 0; padding:0.25em 0.5em; }

#frame #content{ font-size:0.8em; }
#frame #content label { display:inlne-table; }
#frame #content label input{ display:inline-table; }
#frame #content label input[type=radio]{ color:red; }
